body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.box {
  background-color: red;
  border: 1px solid white;
  height: 30rem;
  position: relative; }
  .box .bow {
    background-image: url("/img/white.png");
    position: absolute;
    z-index: 3;
    top: 13rem;
    height: 11rem;
    width: 11rem;
    left: 4.5rem;
    background-size: contain;
    background-repeat: no-repeat; }
  .box .ribbon-1 {
    background-color: green;
    width: 100%;
    height: 5rem;
    margin-top: 15rem; }
  .box .ribbon-2 {
    position: absolute;
    top: 0;
    left: 7rem;
    background-color: green;
    height: 100%;
    width: 5rem; }
